@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*background-image: url('./components/images/splash.png');*/
  background-color: green;
  min-height: 100vh;
  height: 100%;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 65em;*/
  /*background-position: right;*/
  font-family: 'Urbanist', sans-serif;
}
.navbar {
  display: flex;
}
.pl {
  padding-left: 5px;
}
